.imagen{
    position: center;
    width: max-content;
}
.parque{
    color: green;
    font-family: serif;
    
}
.sierra{
    position: absolute;
    color: orange;
    font-family: serif;
}
.cuadro{
    border:1px solid black;
    padding:10px;
}
.subti{
    color: rgb(63, 92, 20);
    text-decoration-line: underline;
}
.animal{
    color: coral;
    font-size: 10px;
}
.body{
   display: flex;
   flex-direction: row;
}
.inicio{
    background-color: orange;
    height: 20px;
    width: 40px;
}
.especies{
    background-color: green;
    height: 20px;
    width: 40px;
}
.reservas{
    background-color: green;
    height: 20px;
    width: 40px;
}
.galeria{
    background-color: green;
    height: 20px;
    width: 40px;
}

